* {
	padding:0;
	margin:0;
}
#app {
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:#333;
}
#favicon {
	width:50px;
	height:50px;
	animation:circle 5s linear infinite normal;
}
#heading {
	color:#eb6c18;
	font-size:32px;
}
#playButton {
	width:100px;
	height:30px;
	background-color:#ddd;
	color:#000;
	border:solid #2662bb 2px;
	border-radius:20px;
}
#app a {
	color:#2662bb;
	text-decoration:none;
}
#app a,#playButton,#heading,#favicon {
	margin:10px;
}
#center {
	width:99vw;
	height:99vw;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
	flex-wrap:wrap;
}
.evenBoxV,.evenBoxH {
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
}
.evenBoxV {
	width:27vw;
	height:36vw;
	flex-direction:column;
}
.evenBoxH {
	width:36vw;
	height:27vw;
	flex-direction:row;
}
.oddBox {
	width:26vw;
	color:#fff;
	font-size:10vw;
	height:26vw;
	border:solid #f8f8f8 5vw;
	display:flex;
	align-items:center;
	justify-content:space-around;
	gap:10vw;
	flex-wrap:wrap;
}
.centerBox {
	width:26.2vw;
	height:26.2vw;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
	background-color:#3b4b68;
	border:solid #333 .4vw;
}
.stepH,.stepV {
	background-color:#e2ecbc;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}
.stepH {
	width:8.8vw;
	height:5.8vw;
}
.stepV {
	width:5.8vw;
	height:8.8vw;
}
.winBoxH,.winBoxV {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}
.winBoxH {
	flex-direction:row;
	width:14.2vw;
	border-left:solid #3b4b68 6vw;
	border-right:solid #3b4b68 6vw;
	height:6vw;
}
.winBoxV {
	flex-direction:column;
	width:6vw;
	height:14.2vw;
}
#pointer {
	width:8vw;
	height:8vw;
	border:solid #ddd 1px;
	animation:circle 5s linear infinite normal;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:30%;
	color:#fff;
	font-weight:bold;
}
@keyframes circle {
	0% {transform:rotate(0deg);}
	50% {transform:rotate(180deg);}
	100% {transform:rotate(360deg);}
}
.controlBar {
	width:95vw;
	height:20vw;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
.diceHolder {
	width:15vw;
	height:15vw;
	border:solid #ddd 2px;
	background-color:#3b4b68;
	color:#ddd;
	font-weight:bold;
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.diceHolder:active {
	animation:circle 1s linear 1 normal;
}
.piece {
	width:1.5vw;
	height:1.5vw;
	border:solid #000 .6vw;
	outline:solid #fff .5vw;
	border-radius:50% 50% 50% 20%;;
}
@media(min-width:650px) {
	#app {
		width:100vw;
		height:120vh;
	}
	#center {
		width:99vh;
		height:99vh;
	}
	.evenBoxV {
		width:27vh;
		height:36vh;
	}
	.evenBoxH {
		width:36vh;
		height:27vh;
	}
	.oddBox {
		gap:10vh;
		width:26vh;
		height:26vh;
		border-width:5vh;
	}
	.centerBox {
		width:26.2vh;
		height:26.2vh;
		border-width:.4vh;
	}
	.stepH {
		width:8.8vh;
		height:5.8vh;
	}
	.stepV {
		width:5.8vh;
		height:8.8vh;
	}
	.winBoxH {
		width:14.2vh;
		height:6vh;
		border-left-width:6vh;
		border-right-width:6vh;
	}
	.winBoxV {
		width:6vh;
		height:14.2vh;
	}
	#pointer {
		width:8vh;
		height:8vh;
	}
	.controlBar {
		width:99vh;
		height:10vh;
	}
	.diceHolder {
		width:9vh;
		height:9vh;
	}
	.piece {
		width:1.5vh;
		height:1.5vh;
		border-width:.6vh;
		outline-width:.5vh;
	}
}
